@import 'src/assets/fonts.css';

.category-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    gap: 8px;
}

.category-button{
    width: 66px;
    height: 66px;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    line-height: 0;
}

.category-button:focus,
.category-button:active{
    outline: none;
    border: none;
}

.category-text{
    color: #292928;
    font-size: 11px;
    font-family: 'inter';
    font-weight: 500;
}

.categories{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
}


