.cart-page{
    width: 600px;
    padding: 20px;
}

.cart-title{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #292928;
    font-family: 'inter_bold';
}

.empty-cart{
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
    opacity: 0.6;
    color: #292928;
    font-family: 'inter';
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 14px;
    padding: 12px;
    margin-bottom: 12px;
    color: #292928;
    background-color: #fff;
    border: 1px solid #292928;
}

.cart-item-img img{
    width: 120px;
    height: 120px;
    border-radius: 12px;
    object-fit: cover;
    object-position: top;
}

.cart-item-info{
    flex: 1;
    margin-left: 15px;
}

.cart-item-title{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    font-family: 'inter';
}

.cart-item-price{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'inter_bold';
}

.cart-item-controls{
    display: flex;
    gap: 12px;
    border-radius: 50%;
    background: #F1F1F1;
}

.cart-item-controls:active,
.cart-item-controls:focus{
    outline: none;
    border: none;
}

.qty-btn{
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: none;
    background: #f2f3f5;
    font-size: 20px;
    font-family: 'inter';
}

.cart-item-qty{
    font-size: 18px;
    font-weight: 700;
    padding-left: 15px;
    min-width: 30px;
    text-align: center;
    font-family: 'inter_bold';
}

