.profile-page{
    width: 600px;
}

.profile-container{
    display: flex;
    flex-direction: row;
    background-color: rgba(41, 41, 40, 0.1);
    width: 100%;
    height: 150px;
    border-radius: 15px;
}

.profile-pfp{
    width: 80px;
    height: 80px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 50%;
}

.edit-btn{
    height: 25px;
    padding: 2px;
    align-items: center;
    text-align: center;
    margin-left: 160px;
    align-self: flex-end;
    margin-bottom: 10px;
    font-size: 9px;
    font-weight: 500;
    font-family: inter;
    width: 130px;
}

.nickname{
    margin-top: 5px;
    color: #292928;
    font-size: 20px;
    font-weight: 500;
    font-family: inter;
}

.name{
    color: #292928;
    font-size: 25px;
    font-weight: 700;
    font-family: inter_bold;
}

.profile-names{
    margin-top: 25px;
    margin-left: 10px;
}