

.App-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
}

.bttn-tg-img{
    width: 24px;
    height: 24px;
}

.back-bttn{
    display: flex;
    flex-direction: row;
    background: #f5f5f5;
    border-radius: 20px;
    padding: 10px 14px 10px 14px;
    gap: 10px;
    border: none;
    position: relative;
    cursor: pointer;
    color: black;
    align-items: center;
}

.back-bttn-cross{
    display: flex;
    width: 7px;
    height: 7px;
}

.back-bttn-text{
    font-family: 'inter';
    font-size: 11px;
    line-height: 100%;
    font-weight: 500;
    color: #666666
}

.bttn-tg-text{
    font-family: "inter";
    font-size: 13px;
    line-height: 105%;
    font-weight: 500;
    font-style: medium;
}

.back-bttn:before,
.back-bttn:after{
    position: absolute;
    width: 14px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    transform-origin: center;
}

.btn-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.btn-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.bttn-tg{
    display: flex;
    align-items: center;
    gap: 10px;
    background: #FFFFFF;
    border: none;
    border-radius: 40px;
    padding: 3px 7px 3px 7px;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    position: relative;
    color: black;
}

.tg-icon {
    width: 14px;
    height: 14px;
    background: #0088cc;
    border-radius: 50%;
    position: relative;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-bubble{
    display: flex;
    align-items: center;
    padding: 10px 14px 10px 14px;
    border-radius: 20px;
    gap: 10px;
    background: #C6C6C64D;
}

.header-bubble button{
    background: transparent;
    border: none;
    font-size: 18px;
    color: #555;
    cursor: pointer;
    padding: 4px 6px;
    border-radius: 8px;
}

.arrow-bttn-img{
    display: flex;
    width: 12px;
}

.menu-bttn-img{
    display: flex;
    width: 13px;
}

.arrow-bttn:focus,
.arrow-bttn:active{
    outline: none;
}

.menu-bttn:active,
.menu-bttn:focus{
    outline: none;
}

.back-bttn:active,
.back-bttn:focus{
    outline: none;
}

.bttn-tg:active,
.bttn-tg:focus{
    outline: none;
}