.Favorites-page{
    padding-bottom: 80px;
    width: 600px;
}

.favorites-title{
    font-size: 22px;
    font-weight: 700;
    margin: 20px;
    color: #292928;
    font-family: "inter_bold";
}

.favorites-empty{
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
    opacity: 0.6;
    color: #292928;
    font-family: "inter";
}