.navbar{
    width: 605px;
    height: 53px;
    left: 5px;
    border-radius: 30px;
    border: 1px solid #6C6C6C1A;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}


.nav-item{
    background: transparent;
    border: none;
    outline: none;
}

.nav-item:active,
.nav-item:focus{
    outline: none;
    border: none;
}

.nav-picture{
    width: 21px;
    height: 21px;
    background: transparent;
}

.nav-item.active img.home{
    content: url(public/images/footer/home-active.png);
}

.nav-item.active img.catalog{
    content: url(public/images/footer/catalog-active.png);
}

.nav-item.active img.favorite{
    content: url(public/images/footer/favorite-active.png);
}

.nav-item.active img.cart{
    content: url(public/images/footer/cart-active.png);
}

.nav-item.active img.profile{
    content: url(public/images/footer/account-active.png);
}