.developed-by{
    font-family: 'inter';
    font-weight: 400;
    font-size: 11px;
    color: #8B8B8B;
    margin-bottom: 5px;
}

.tg-bttn{
    display: flex;
    flex-direction: row;
    background: #8B8B8B1A;
    border-radius: 20px;
    width: 90px;
    height: 20px;
    gap: 5px;
    text-align: center;
    outline: none;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.tg-bttn:active, .tg-bttn:focus{
    outline: none;
    border: none;
}

.info-nickname{
    font-family: 'inter';
    font-weight: 500;
    font-size: 11px;
    color: #8B8B8B;
    text-align: center;
}

.info{
    margin-top: 28px;
    justify-items: center;
    margin-bottom: 15px;
    padding-bottom: 80px;
}

.developed_tg{
    width: 11px;
    height: 10px;
    justify-items: center;
    align-self: center;
}