@font-face {
    font-family: "inter";
    src:
        url("src/assets/fonts/inter/Inter_24pt-Regular.ttf");
}

@font-face {
    font-family: "mulish_extrabold";
    src: url("src/assets/fonts/mulish/Mulish-ExtraBold.ttf")
}

@font-face {
    font-family: "inter_bold";
    src:
        url("src/assets/fonts/inter/Inter_18pt-Bold.ttf")
}

@font-face {
    font-family: "inter_semibold";
    src: url("src/assets/fonts/inter/Inter_18pt-SemiBold.ttf")
}